nav {
    text-align: center;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}
nav a:active, li.selected {
    color: blue;
}
footer {
    text-align: center;
    padding-top: 2em;
}
a:hover {
    color: red;
}
nav ul li {
    display: inline;
}
