<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav>
    <ul class="navigation">
        <li><i class="fa fa-home"></i><a href="home.html" class="nav active">Home</a></li>
        <li><i class="fa fa-music"></i><a href="songs.html" class="nav">Songs</a></li>
        <li><i class="fa fa-ticket"></i><a href="concerts.html" class="nav">Upcoming concerts</a></li>
        <li><i class="fa fa-envelope-o"></i><a href="contact.html" class="nav">Contact the artist</a></li>
    </ul>
</nav>